
IO_LOC "io_sda" H8;
IO_PORT "io_sda" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_scl" H5;
IO_PORT "io_scl" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "btnRight" G11;
IO_PORT "btnRight" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "btnLeft" D11;
IO_PORT "btnLeft" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "btnUp" B10;
IO_PORT "btnUp" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "btnDown" C10;
IO_PORT "btnDown" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
//IO_LOC "clk" H4;
IO_LOC "clk" E2;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
