

IO_LOC "btnRight" G11;
IO_PORT "btnRight" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "btnLeft" D11;
IO_PORT "btnLeft" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "btnUp" B10;
IO_PORT "btnUp" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "btnDown" C10;
IO_PORT "btnDown" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
//IO_LOC "clk" H4;
IO_LOC "clk" E2;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "tmds_d_p[0]" H8,H7;
IO_PORT "tmds_d_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tmds_d_p[1]" G7,G8;
IO_PORT "tmds_d_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tmds_d_p[2]" F5,G5;
IO_PORT "tmds_d_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tmds_clk_p" H5,J5;
IO_PORT "tmds_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "resetbtn" H10;
IO_PORT "resetbtn" PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "s1" H11;
IO_PORT "s1" PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;